@charset "utf-8";

/* ========== 全体 ========== */
*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #03122f;
	color: #e4e4e4;
}
#page{
	width: 1000px;
	margin: auto;
}

/* ========== ヘッダー ========== */
header{
	height: 726px;
}

/* ========== メニュー ========== */
ul{
	list-style-type: none;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}
#menu{
	width: 300px;
	height: 80px;
	padding: 10px;
	display: block;
	text-align: center;
	position: relative;
}
#menu p{
	color: #e4e4e4;
	font: bold 20px fantasy;
	position: absolute;
	top: 37px;
	left: 131px;
}

/* ========== メイン ========== */
#main{
	padding: 30px;
	margin: 50px;
}
#center{
	text-align: center;
}
h1{
	text-align: center;
	margin-bottom: 50px;
}
