@charset "utf-8";

/* ========== 全体 ========== */
*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #03122f;
	color: #e4e4e4;
}
#page{
	width: 1000px;
	margin: auto;
}

/* ========== ヘッダー ========== */
header{
	height: 231px;
}

/* ========== メニュー ========== */
#menu{
	margin: 10px;
	font: bold 15px fantasy;
}
#menu a{
	text-decoration: none;
}
#menu font:hover{
	color: #84cce4;
}

/* ========== メイン ========== */
#main{
	padding: 30px;
	margin: 50px;
}
#center{
	text-align: center;
}
h1,h2,h3{
	text-align: center;
	margin-bottom: 50px;
}
ul{
	list-style-type: none;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}
#mokuji{
	width: 200px;
	padding: 10px;
	display: block;
	text-align: center;
}
#mokuji a{
	text-decoration: none;
	color: #e4e4e4;
	font: bold 20px fantasy;
}
#mokuji a:hover{
	color: #84cce4;
}
table{
	border-collapse: collapse;
	text-align: center;
	margin: auto;
}
th,td{
	border: solid 2px #e4e4e4;
	width: 200px;
	height: 30px;
	padding: 10px;
}
#sub-table1 th{
	width: 100px;
	height: 10px;
}
#sub-table1 td{
	text-align: left;
	height: 10px;
}
